<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ランニングが楽しくなるwebアプリケーションをつくったよ">
    <title>Webアプリつくったよ</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <!-- jQuery読み込み -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
      
      
      <div class="container">
          <h1>webアプリのポートフォリオ(勉強用の記事ですので架空のアプリを考えています)</h1>
          <p>webアプリケーションに興味をもって半年.... ようやくwebアプリができました。実際に多くの人に使って欲しいのでどのような使い勝手になっているかを簡単に記そうと思います。<br>
          その前に簡単な自己紹介を...
          </p>
      </div>
      <div class="introduce container">
          <div class="container">
              <h2>自己紹介</h2>
              <div class="container">
                  <div class="head col-sm-3">
                      <p>名前</p>
                  </div>
                  <div class="description col-sm-9">
                      <p>末満 堅人</p>
                  </div>  
              
                  <div class="head col-sm-3">
                      <p>在学校</p>
                  </div>
                  <div class="description col-sm-9">
                      <p>都城高専</p>
                  </div>  
              
                  <div class="head col-sm-3">
                      <p>趣味</p>
                  </div>
                  <div class="description col-sm-9">
                      <p>ランニング、アニメ鑑賞</p>
                  </div>  
                  
                  <div class="head col-sm-3">
                      <p>将来</p>
                  </div>
                  <div class="description col-sm-9">
                      <p>Webアプリーケーション開発 or アニメ製作</p>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="container">
          <p>以上！<br>アプリの説明に入ります</p>
      </div>
          
      <div class="run_sup">
          <div class="container">
              <h2>ポートフォリオ</h2>
              <div class="col-sm-9">
                  <p>アプリの名前は<strong>Running Support</strong>です。その機能は走った距離、時間などを記録して管理してくれるアプリです。会員になると記録、距離をグラフ表示することも可能で自分の走力の変化を分析することもできます。<br>
                    さらに、記録を公開する許可をとった会員同士で記録の共有をできます。自動公開をONにすればランダムに他ユーザに記録を公開することができます。<br>
                    情報共有をして刺激を受け合うことで走る意欲が向上するアプリとなっています。ぜひ使ってください。<br><br>
                    こちらが私の<a href="https://github.com/suemiken">マイページ</a>になります</p>
              </div>
              <div class="col-sm-3">
                  <img src="run.jpg" alt=""/>
                  
              </div>
          </div>
      </div>
  </body>
</html>